.venv/
.venv2/
**/*.csv
**/*mock_records.csv
__pycache__/
**/__pycache__/
.git/
/demos/
/asset_management/
/billing_and_invoicing/
/customer_engagement/
/grid_balancing/
/grid_operations/
/master_orchestrator/
/production_forecasting/
/regulatory_compliance/
/smart_meter_management/
/support_services/
/wholesale_trading/
/evalset/
/eval/
/tests/
!web/demos/


